.bloqueNosotros {
    width: 45%;
    border-width: 1.4px;
    border-style: solid;
    border-color: rgb(248, 79, 79);
    border-radius: 23px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
 
    color: aliceblue;
    padding: 3rem;
    background-color: rgba(8, 6, 14, 0.789);

}

.bloqueNosotros2 {
    border-width: 1.4px;
    border-style: solid;
    border-color: rgb(248, 79, 79);
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    color: aliceblue;
    padding: 3rem;
    margin-left: 40%;
    margin-bottom: 23px;
    margin-top: 33px;
    background-color: rgba(8, 6, 14, 0.789);
}

.tituloNos {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 2px;
    margin-right: 23px;
    text-transform: uppercase;

}

.parrafoNos {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: start;
}