
.item-product {
    width: 50%;
    border-width: 1.4px;
    border-style: solid;
    border-color: rgb(248, 79, 79);
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    padding: 2rem;
    margin-left: 25%;
    background-color: rgba(8, 6, 14, 0.747);

}
.titulo-detail{
    display: flex;
    flex-direction: column;
}


.caja-foto {
    width: 60%;
    height: 60%;
}

.tituloDetalle{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 300;
  

}

.precioDetalle{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.tituloStock{
    color: rgb(228, 95, 18);
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.textoDescription{
    color: aliceblue;
    text-align: start;
    font-size: 14px;
    font-weight: 100;
    display: flex;
    margin-bottom: 2rem;
    margin-top: 12px;
    letter-spacing: 1px;
    
}
.titulo-agregar{
    color: rgb(228, 95, 18);
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.item-numbers {
   
    font-size: 23px;
    font-weight: 100;
    color: rgb(228, 95, 18);
    margin: 12px;

}