.item-container{
    display: flex;
    padding:  2rem 3rem 2rem 3rem;
    align-items: center;
    background-image: url(../../../public/assets/fondo01.jpg);
    object-fit: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(124, 75, 47);
    border-radius: 23px;
    gap: 1.8rem;
    margin: 2rem 2rem;
    box-shadow: 6px 7px 6px #272525a8;
    
}
.titles{
    float:100;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1.5px;
}
.caja-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Item-Product {
    display: flex;
    padding: 4em 1em 4em 1em;
    width: 20%;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    // margin-left: 2rem;
    // margin-top: 3rem;
    // background-color: rgb(61, 46, 36);
    background-image: url(../../../public/assets/fondoVerticalMadera.jpg);
    object-fit: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: rgba(0, 255, 255, 0);
    border: none;
    font-weight: 500;
    margin-top: 19px;
    color: rgb(255, 195, 29);
    font-size: 26px;
}

.P-Products {
    color: aliceblue;
    font-weight: 400;
    font-size: 32px;

}
.P-Precios {
    color: aliceblue;
    font-weight: 500;
    font-size: 31px;

}

.countProd {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.countProd button {
    padding: 20px;
    font-size: 31px;
    margin: 10px;
}