.item-container{
    display: flex;
    padding:  2rem 3rem 2rem 3rem;
    align-items: center;
    background-color: rgb(124, 75, 47);
    border-radius: 23px;
    gap: 1.8rem;
    margin: 2rem 2rem;
    
}
.titles{
    float:100;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1.5px;
}
