

.list-products{
    display: flex;
    padding: 1rem;
    gap: 1em;
    text-decoration: none;
    list-style: none;
}
button{
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
    list-style: none;
}
a{ 
    
    text-decoration: none;
    list-style: none;
}


