

.lista-home{
    display: flex;
    justify-content: center;
    // gap: 1em;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    // margin-inline: 1rem;

}

button{
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
    list-style: none;
}
a{ 
    
    text-decoration: none;
    list-style: none;
}


