.navbar-primary {
    width: 100%;
    background-color: rgb(27, 26, 26);
    display: flex;
    padding: 5px 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    list-style: none;
    gap: 1.6rem;
}

.cart-widget {
    display: flex;
    align-items: center;
}

.caja-foto {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.iconos-footer  {
    list-style: none !important;
    color: #ece8e8 !important;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(27, 26, 26, 0.685);
    padding: 1rem;
    text-transform: uppercase;
    
}