
.nav-estilo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    border-color: aliceblue;
    border-width: 0px 0px 1px 0px;
    border-style: solid; 

}
button{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border: none;
    font-size: 19px;
}


