@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



* {
    padding: 4px;
    font-family: Oswald;
    margin: 0;
    box-sizing: border-box; }


body{
    background-color: rgb(17, 16, 16);
    // background-color: rgb(0, 36, 136);
}
.main-container{
    display: flex;
    padding: 1rem;
  
}


.caja-foto {
    width: 50%;
    height: 50%;
}

.titulos-detail{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 300;
    display: flex;
    justify-content: center;

}

.price{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bloque-uno{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}
.stock{
    color: rgb(228, 95, 18);
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.descript{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 100;
    display: flex;
}

button{
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    list-style: none;
}

.lista-inicio{
    display: flex;

    justify-content: center;
    text-transform: uppercase;
    
}