

.titulos3 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-width: 1.4px;
    border-style: solid;
    border-color: rgb(248, 79, 79);
    border-radius: 23px;
    padding: 6px 12px 6px 12px;
}
.item-carro {
    border-width: 1.4px;
    border-style: solid;
    border-color: rgb(248, 79, 79);
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-transform: uppercase;
padding-left: 7rem;
padding-right: 7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

 

}

.item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 2rem;
    font-size: 23px;

}
.caja-foto {
    width: 50%;
    height: 50%;
}

.titulosybotones {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 300;
    margin: 1rem;
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.titulosybotones2 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    text-decoration: none;
    list-style: none;
    font-size: 30px;
}
li{
    text-decoration: none;
    list-style: none;
}
a{ 
    
    text-decoration: none;
    list-style: none;
}
.descript{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 100;
    display: flex;
}