
.count-prod {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.count-prod p {
    font-size: 30px;
}

.count-prod button {
    font-size: 40px;
    padding: 20px;
}